@import 'fonts';



$a1: #072146;
$a2: #004480;
$a3: #19739E;
$am: #F8CD51;
$ro: #C03851;
$gr: #E4E4E4;
$bl: #ffffff;

// Colores

.bl {
    color: $bl;
}

.am {
    color: $am;
}

// Background

.ba1 {
    background-color: $a1;
}

.ba2 {
    background-color: $a2;
}

.ba3 {
    background-color: $a3;
}

.bgr {
    background-color: $gr;
}

.medium {
    font-weight: 500;
}

header {
    background-color: $a1;
    margin-bottom: 70px;
}

.fixed {
    position: sticky;
    top: 15px;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

// Estilos

.fmd {
    font-weight: 500;
    font-style: normal;
}

.btn-g {
    background-color: $a1;
    color: $am;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    padding: 15px;
    border: 0;
    margin: 15px 0;

    img {
        height: 1.5em;
        margin-right: 6px;
    }
}

.display-n {
    display: none !important;
}

.btn-s {
    border: 0;
    width: 100%;
    background-color: $a3;
    color: $bl;
    padding: 15px;
    font-weight: 500;

}


@import 'banners';



.busca-home {
    color: $a1;

    label {
        font-weight: 500;
    }
}

.destacados {
    .card {
        border: 0;
        border-radius: 0;
        min-height: 320px;
    }

    .card-img-top {
        border-radius: 0;
    }

    hr {
        border-color: $bl;
        margin: .2rem;
    }
}

@media (max-width: 767px) {
    .destacados {
        .card {
            min-height: 290px;
        }
    }
}


// DETALLES

.det-header {
    color: $a1;

    h1.titulo {
        font-size: calc(55px - .5vw);
        font-weight: 500;
        font-style: normal;
        margin-bottom: 0;
    }

    h3.modelo {
        font-size: calc(40px - .5vw);
        font-weight: normal;
    }

    .precio,
    .version {
        font-size: calc(36px - .5vw);
        font-weight: normal;
    }

    hr {
        border-top: 1px solid $a1;
    }
}

.slider-for {
    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

}

.slider-nav {
    div {
        padding: 5px;
    }

    img {
        width: 200px;
        height: 140px;
        border: 1px solid $a1;
        object-fit: cover;
    }

}

// CREDITO

.credito {
    .titulo-credito {
        font-size: calc(40px - .5vw);
        font-weight: 500;
        line-height: calc(46px - .5vw);

    }

    .monto {
        //font-size: 1.6vmax;
        font-size: calc(36px - .8vw);
        font-weight: 500;
    }

    hr {
        border: 1px solid $bl;
        margin: 0;
    }

    .cuota {
        font-size: calc(30px - .8vw);
        font-weight: 300;
    }
}

.lista,
.descr,
.encuentra {
    hr {
        border-top: 1px solid $a1;
    }
}

h4 {
    font-weight: 500;
    font-size: calc(42px - .8vw);
}

// CONTACTO

.contacto {
    color: $a1;

    .titulo {
        font-weight: 500;
        font-size: calc(40px - .8vw);
        margin-bottom: 6px;
    }

    .sub {}
}

.form-contacto {

    label {
        color: $a1;
        font-weight: 500;
    }

    input {
        border-radius: 0;
        border: 1px solid $a1;
        background-color: $gr;
        color: $a1;
    }

}

.btn-lead {
    background-color: $bl;
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    align-items: center;
    width: 174px;
    height: 46px;
    border: 1px solid #f4f4f4;
    border-radius: 30px;
    line-height: 16px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%);
    cursor: pointer;
    text-align: center;
    color: $a3;
    font-weight: 500;
    font-size: 13px;

    &:hover {
        background-color: $a3;
        color: $bl;

        svg {
            fill: $bl;

        }
    }

    svg {
        fill: $a3;
        max-width: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }

}

.bootstrap-select {
    border: 1px solid #ced4da !important;
}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {

    h4 {
        font-weight: 500;
        font-size: calc(30px - .8vw);
    }

    .btn-g {
        width: 100%;
    }

    // DETALLES

    .det-header {
        color: $a1;

        h1.titulo {
            font-size: calc(36px - .5vw);
            font-weight: 500;
            font-style: normal;
            margin-bottom: 0;
        }

        h3.modelo {
            font-size: calc(26px - .5vw);
            font-weight: normal;
        }

        .precio,
        .version {
            font-size: calc(20px - .5vw);
            font-weight: normal;
        }

        hr {
            border-top: 1px solid $a1;
        }
    }

    // CONTACTO
    .contacto {
        .titulo {
            font-size: calc(26px - .8vw);
        }
    }

    .credito {
        .titulo-credito {
            font-size: calc(32px - .5vw);
            font-weight: 500;
            line-height: calc(32px - .5vw);

        }

        .monto {
            //font-size: 1.6vmax;
            font-size: calc(24px - .8vw);
            font-weight: 500;
        }

        hr {
            border: 1px solid $bl;
            margin: 0;
        }

        .cuota {
            font-size: calc(24px - .8vw);
            font-weight: 300;
        }
    }
}


@import 'navbar';

@import 'calculadora';
